/*--------------------------- Arrow Navigation Style ---------------------------*/

/* === Style 5 === */
.bs-swiper-arrow-style5 .swiper-button-next,
.bs-swiper-arrow-style5 .swiper-button-prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: inherit; 
    color: #000;
    opacity: 1;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.bs-swiper-arrow-style5 .swiper-button-prev::after,
.bs-swiper-arrow-style5 .swiper-button-next::after {
    font-weight: bold;
    font-size: inherit;
}

.bs-swiper-arrow-style5 .swiper-button-prev::after {
    content: '←';
}

.bs-swiper-arrow-style5 .swiper-button-next::after {
    content: '→';
}

.bs-swiper-arrow-style5 .swiper-button-prev:hover,
.bs-swiper-arrow-style5 .swiper-button-next:hover {
    color: #333;
}

/* === Custom Arrow === */
.bs-swiper-arrow-custom .swiper-button-next,
.bs-swiper-arrow-custom .swiper-button-prev {
    border: 2px solid #fff;
    border-radius: inherit;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs-swiper-arrow-custom .swiper-button-next:after, 
.bs-swiper-arrow-custom .swiper-button-prev:after {
    font-size: inherit;
}

/*--------------------------- End Arrow Navigation Style ---------------------------*/

/*--------------------------- Scrollbar Control ---------------------------*/

.bs-scrollbar.swiper-scrollbar {
    background-color: #fff;
    height: 8px;
    border-radius: 4px;
}

.bs-scrollbar-drag.swiper-scrollbar-drag {
    background: #999999; 
    border-radius: 4px;
    cursor: pointer;
}

.bs-scrollbar-wrapper {
    margin-top: 10px;
}

.bs-scrollbar-top .swiper-scrollbar {
    top: 0 !important;
    bottom: auto !important;
    margin-top: 0;
    margin-bottom: 0;
}

.bs-scrollbar-left .swiper-scrollbar {
    left: 0 !important;
    right: auto !important;
    width: 8px;
    height: 100%;
    position: absolute;
}

.bs-scrollbar-right .swiper-scrollbar {
    right: 0 !important;
    left: auto !important;
    width: 8px;
    height: 100%;
    position: absolute;
}

.bs-scrollbar-left .swiper-scrollbar-drag,
.bs-scrollbar-right .swiper-scrollbar-drag {
    width: 100%;
}

/*--------------------------- End Scrollbar Control ---------------------------*/

/*--------------------------- RTL ---------------------------*/

.bs-swiper[dir="rtl"] .swiper-button-next {
    left: 0;
    right: auto;
}

.bs-swiper[dir="rtl"] .swiper-button-prev {
    right: 0;
    left: auto;
}
/*--------------------------- End RTL ---------------------------*/

/*--------------------------- Thumbs Gallery ---------------------------*/

.bs-swiper-thumbs-gallery .swiper-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.bs-swiper-thumbs-gallery .swiper-slide {
    opacity: 0.5;
    border: 2px solid transparent;
    width: auto !important;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s, opacity 0.2s;
    box-sizing: border-box;
}

.bs-swiper-thumbs-gallery .swiper-slide-thumb-active {
    opacity: 1;
}

.bs-swiper-thumbs-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*--------------------------- End Thumbs Gallery ---------------------------*/